body {
	width:100vw;
	height:100vh;
	margin: 0;
	
}
.flex-containter{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: inherit;
}
.box {
	height: 10vw;
	width: 10vw;
	margin: 5px;
	
}

.green { 
	background-color: #008D24;
}

.light_blue { 
	background-color: #0B69C0;
}

.purple {
	background-color: #3A2460;
}

.red {
	background-color: #CA1B22;
}

.orange {
	background-color: #EA6626;
}

.opaque { 
	background-image: url(https://philspector.files.wordpress.com/2017/02/smiths-84.jpg);
	background-size; 175px 200px;
}
	

