/* https://paddle8.com/work/ellsworth-kelly/78782-color-squares-4/ */
#fblogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px; 
}

.fblogo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 30px; 
}

#images{
    text-align:center;
}


@media screen and (min-width:680px)

