/* https://paddle8.com/work/ellsworth-kelly/78782-color-squares-4/ */
div{
    float:left;
    margin-right:5px;
    
        
}

div > img{
   height:350px;
    width:350px;
    
}

p{
    text-align:center;
}


@media screen and (min-width:680px)

